Django==5.1.15
djangorestframework==3.15.2
djangorestframework-simplejwt==5.5.1
django-cors-headers==4.4.0
psycopg2-binary==2.9.9
Pillow==12.2.0
python-decouple==3.8
cryptography==46.0.7
reportlab==4.2.5
qrcode[pil]==7.4.2
requests==2.33.0
mammoth==1.11.0
pypdf==6.10.2
python-pptx==1.0.2
pyotp==2.9.0
gunicorn==23.0.0
whitenoise==6.8.2
